.interna-contato {
  background: url("../img/bg/bgContato.jpg") no-repeat;
  background-size: cover;
}
/*Formulário Contato*/
.contato {
  background: #67b6cc;
  width: 100%;
  padding: 40px 0;
}

.orcamento h2 {
  color: #343142;
  padding-bottom: 30px;
}

.orcamento h2:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #343142;
  margin: 5px auto;
}
.form {
  padding-right: 60px;
}
.form label {
  display: block;
  color: #343142;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.form input {
  display: block;
  width: 100%;
  border: 4px solid white;
  background: #67b6cc;
  color: white;
  padding: 5px 5px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid white;
  background: #67b6cc;
  color: white;
  padding: 5px 5px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form .btn {
  margin: 0px 0px;
}
.orcamento-contato {
  color: #343142;
}
.orcamento-contato span {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.orcamento-contato h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 30px 0 10px 0;
}
.orcamento-contato p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  margin: 30px 0 20px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.orcamento-contato ul {
  padding-right: 60px;
}
.orcamento-contato ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  display: inline-block;
}

.orcamento-contato ul li a {
  border: white solid 3px;
  display: block;
  padding: 1px 2px;
}
.orcamento-contato ul li a:hover {
  border: #343142 solid 3px;
  display: block;
  padding: 1px 2px;
}
form .btn {
  background: #67b6cc;
}
form .btn:hover {
  background: #343142;
  border: white 3px solid;
}

/*Maps*/
.maps {
  background: #67b6cc;
  width: 100%;
  padding: 40px 0;
}
.maps h3 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
iframe {
  width: 960px;
  height: 300px;
  margin-bottom: 60px;
}
